<a href="https://colab.research.google.com/github/MubashirAli503/ultrasonic-sensor/blob/main/assignment%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
Name: Mubashir Ali 
Batch: 03 
Sec: A 
'''
#Print names one at a time.
names=['abdullah','bashir','saeed','tahir','zubair']
print(names[0])
print(names[1])
print(names[2])
print(names[3])
print(names[4])

abdullah
bashir
saeed
tahir
zubair

In [ ]:
#Greeting each person using concatination.
names=['abdullah','bashir','saeed','tahir','zubair']
print("Hello",names[0]+"!")
print("Hello",names[1]+"!")
print("Hello",names[2]+"!")
print("Hello",names[3]+"!")
print("Hello",names[4]+"!")

Hello abdullah!
Hello bashir!
Hello saeed!
Hello tahir!
Hello zubair!

In [ ]:
#Making list of cars and printing statements about them.
cars=['honda','bmw','lamborghini','tesla','rolls-royce']
print(cars[0].capitalize(),"cars are pretty popular in Pakistan.")
print(cars[1].upper(),"is known for making luxurios vehicles.")
print("If you own a",cars[2].capitalize()+", then you are showing off.")
print("You don't have to drive",cars[3].capitalize()+", it can drive itself.")
print("You can't own a",cars[4].title(),"unless you belong to a royal family.")

Honda cars are pretty popular in Pakistan.
BMW is known for making luxurios vehicles.
If you own a Lamborghini, then you are showing off.
you don't have to drive Tesla, it can drive itself.
you can't own a Rolls-Royce unless you belong to a royal family.

In [ ]:
#Guest list.
names=['abdullah','ayesha','saeed','tooba','zubair']
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[3].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[4].capitalize()+", i would like to invite you to dinner.")

Hello Abdullah, i would like to invite you to dinner.
Hello Ayesha, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.
Hello Tooba, i would like to invite you to dinner.
Hello Zubair, i would like to invite you to dinner.

In [ ]:
#Changing guests list.
names=['abdullah','ayesha','saeed']
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print(names[1].capitalize(),"can't make it to dinner.")
names.remove("ayesha")
names.insert (1,"tooba")
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")

Hello Abdullah, i would like to invite you to dinner.
Hello Ayesha, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.
Ayesha can't make it to dinner.
Hello Abdullah, i would like to invite you to dinner.
Hello Tooba, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.

In [ ]:
#More guests.
names=['abdullah','ayesha','saeed']
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print("\n"+names[1].capitalize(),"can't make it to dinner.\n")
names.remove("ayesha")
names.insert (1,"tooba")
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print("\nWe got a bigger table!\n")
names.insert (0,"amna")
names.insert (2,"bushra")
names.append ("zubair")
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[3].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[4].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[5].capitalize()+", i would like to invite you to dinner.")

In [ ]:
#Task 4
#Guest list.
names=['abdullah','ayesha','saeed']
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
#Task 5
print("\n"+names[1].capitalize(),"can't make it to dinner.\n")
#Replacing ayesha with tooba using remove and insert function.
names.remove("ayesha")
names.insert (1,"tooba")
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
#Task 6
#Inserting More guests using insert and append function.
print("\nWe got a bigger table!\n")
names.insert (0,"amna")
names.insert (2,"bushra")
names.append ("zubair")
print("Hello",names[0].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[1].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[2].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[3].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[4].capitalize()+", i would like to invite you to dinner.")
print("Hello",names[5].capitalize()+", i would like to invite you to dinner.")
#Task 7
#Popping out guests using pop function.
print("\nSorry guys i can invite only two people.\n")
name=names.pop()
print("Sorry",name.capitalize()+", there is no room at the dinner table.")
name=names.pop()
print("Sorry",name.capitalize()+", there is no room at the dinner table.")
name=names.pop()
print("Sorry",name.capitalize()+", there is no room at the dinner table.")
name=names.pop()
print("Sorry",name.capitalize()+", there is no room at the dinner table.\n")
print(names[0].capitalize()+", you are still invited to dinner.")
print(names[1].capitalize()+", you are still invited to dinner. ")
#Empty out the list using del function. 
del(names[0])
del(names[0])
print(names)

Hello Abdullah, i would like to invite you to dinner.
Hello Ayesha, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.

Ayesha can't make it to dinner.

Hello Abdullah, i would like to invite you to dinner.
Hello Tooba, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.

We got a bigger table!

Hello Amna, i would like to invite you to dinner.
Hello Abdullah, i would like to invite you to dinner.
Hello Bushra, i would like to invite you to dinner.
Hello Tooba, i would like to invite you to dinner.
Hello Saeed, i would like to invite you to dinner.
Hello Zubair, i would like to invite you to dinner.

Sorry guys i can invite only two people.

Sorry Zubair, there is no room at the dinner table.
Sorry Saeed, there is no room at the dinner table.
Sorry Tooba, there is no room at the dinner table.
Sorry Bushra, there is no room at the dinner table.

Amna, you are still invited to dinner.
Abdullah, you are still invited to dinner.
[]

In [ ]:
#Seeing the world.
places=['Zimbabve','Arizona','Malaysia','Newyork','Egypt']
print('Original list\n'+str(places))
#Using sorted to sort list temporarily.
print("\nSorted list\n"+str(sorted(places)))
print('\nOriginal list\n'+str(places))
#Temporarily sorting listin reverse using sorted function.
print('\nReverse sorted list')
print(sorted(places,reverse=True))
print('\nOriginal list\n'+str(places))
#Reversing list permenantly using reverse function.
places.reverse()
print('\nReversed list\n'+str(places))
#Reversing list again.
#places.reverse()
print('\nOriginal list\n'+str(places))
#Sorting list permenantly using sort function.
places.sort()
print('\nSorted list\n'+str(places))
#Reverse sorting list permenently.
places.sort(reverse=True)
print('\nSorted list\n'+str(places))

Original list
['Zimbabve', 'Arizona', 'Malaysia', 'Newyork', 'Egypt']

Sorted list
['Arizona', 'Egypt', 'Malaysia', 'Newyork', 'Zimbabve']

Original list
['Zimbabve', 'Arizona', 'Malaysia', 'Newyork', 'Egypt']

Reverse sorted list
['Zimbabve', 'Newyork', 'Malaysia', 'Egypt', 'Arizona']

Original list
['Zimbabve', 'Arizona', 'Malaysia', 'Newyork', 'Egypt']

Reversed list
['Egypt', 'Newyork', 'Malaysia', 'Arizona', 'Zimbabve']

Original list
['Egypt', 'Newyork', 'Malaysia', 'Arizona', 'Zimbabve']

Sorted list
['Arizona', 'Egypt', 'Malaysia', 'Newyork', 'Zimbabve']

Sorted list
['Zimbabve', 'Newyork', 'Malaysia', 'Egypt', 'Arizona']

In [ ]:
#Dinner guests
names=['abdullah','ayesha','saeed','tooba','zubair']
#Counting number of guests invited using len function
print('Number of guests invited: '+str(len(names)))

Number of guests invited: 5

In [4]:
#Every function 
x=["cat",2.5,500,"bmw"]
print(x)
x[1]="dog" # changing first element of x from 2.5 to dog
print(x)

bike=["honda","yamaha","suzuki"]
del bike[1] #deleting the value at index 1 from bike
print(bike)

x=["cat",2.5,500,"bmw"]
x.insert(1,"dog")#it inserts the element in given position
print(x)

x.append("mazda")#it will append the element at last
print(x)

y=x.pop(2)#it will pop that element out at given index and remove from that list If no index is specified
print("popped "+str(y))
print(x)

x.remove("bmw")#it will remove the given elment from the list
print(x)

list_one = [1, 2, 3, 4, 5, 6, 7]  # This is the first list
list_two = [10, 12, 14]           # This is the second list
list_one.extend(list_two)         # Extend list_one by appending all items of list_two
print(list_one)

my_list = ["zero", "one", "two", "three", "four", "five"]        # Create a list
my_list.reverse()                                                # Reverse the items of the list in place
print("Reversed list\n"+str(my_list))

my_list.sort(reverse=True)                             #it will sort list in descending order
print(my_list)

my_list.sort()                             #it will sort list in ascending order
print(my_list)

my_list = ['two', 5, 'one', 2]                #Counting number of elements in list 
print(len(my_list))


my_list = [5, 3, 6, 1, 2, 4, 7]           # Create a list
sorted(my_list, reverse=True)             # Sorted the items of the list temporarily
print("Sorted list\n"+str(my_list))

['cat', 2.5, 500, 'bmw']
['cat', 'dog', 500, 'bmw']
['honda', 'suzuki']
['cat', 'dog', 2.5, 500, 'bmw']
['cat', 'dog', 2.5, 500, 'bmw', 'mazda']
popped 2.5
['cat', 'dog', 500, 'bmw', 'mazda']
['cat', 'dog', 500, 'mazda']
[1, 2, 3, 4, 5, 6, 7, 10, 12, 14]
Reversed list
['five', 'four', 'three', 'two', 'one', 'zero']
['zero', 'two', 'three', 'one', 'four', 'five']
['five', 'four', 'one', 'three', 'two', 'zero']
4
Sorted list
[5, 3, 6, 1, 2, 4, 7]

In [113]:
#Intentional error
num = ["zero", "one", "two", "three", "four", "five"] 
del num [6]        
num[:]

IndexError: ignored

In [114]:
#Correction of error
num = ["zero", "one", "two", "three", "four", "five"] 
del num [5]        
num[:]

['zero', 'one', 'two', 'three', 'four']

In [83]:
#Task related to string input
name=input(print("Enter a string: "))  #Taking string input.
print("Hello "+name+"!")  #Concatenation using "+".

Enter a string:
Adnan
Hello Adnan!

In [82]:
str1="bum"
str2="chiki"
print(str1+str2*2+str1)

bumchikichikibum

In [84]:
str1=input("Enter a string: ")
if len(str1)>=2:  #Checking if string's length is less than 2.
  print(str1[-2:]*3)  #Slicing string using indexes.
else:
  print ("string's length is less than 2")

Enter a string: aslam
amamam

In [81]:
str1=input("Enter a string: ")
print(str1.replace(" ",""))  #Replacing whitespaces using replace function.

Enter a string: hello sir
hellosir

In [85]:
str1=input("Enter a string: ")
if len(str1)>=2:
  print(str1[0:2])
elif len(str1)<2:
  print(str1)
else:
  print("")

Enter a string: boom
bo

In [108]:
str1=input("Enter a string: ")
if len(str1)%2==0:  #Checking if lenght of string is an even number.
  str2=str1[:int(len(str1)/2)]  #Saving first half of string using slicing.
  print(str2)
else:
  print ("string's length is an odd number")

Enter a string: HelloAslam
Hello

In [88]:
str1=input("Enter a string: ")
if len(str1)>=2:  
  print(str1[1:-1])  #Printing string except first and last letter using slicing.
else:
  print ("string's length is less than 2")

Enter a string: inzamam
nzama

In [93]:
str1=input("Enter first string: ")
str2=input("Enter second string: ")
print(str1[1:]+str2[1:])

Enter first string: shot
Enter second string: spot
hotpot

In [110]:
import math 
a=int(input("Enter value for \"a\"= "))
b=int(input("Enter value for \"b\"= "))
c=int(input("Enter value for \"c\"= "))
s1=math.pow(b,2)
s2=4*a*c
s3=2*a
x1=(-b+math.sqrt(s1-s2))/s3
x2=(-b-math.sqrt(s1-s2))/s3
print ("first value=",x1)
print ("second value=",x2)

Enter value for "a"= 2
Enter value for "b"= 7
Enter value for "c"= 3
first value= -0.5
second value= -3.0

In [111]:
import math
x=int(input("Enter value for \"x\"= "))
s1=x+(1/x)
s2=x-(1/x)
x=math.sqrt(math.pow(s1,2)-4*s2)
print ("Answer=",x)

Enter value for "x"= 2
Answer= 0.5